<!DOCTYPE html>
<html lang="en">
  <head>


    <title>Hoop Spots</title>



  </head>
  <body id="court">





  <br />
  <div class="frosty col-xs-10 col-xs-offset-1 text-center style-box">
    <br />
    <h1>Welcome to Hoop Spots!</h1>
    <br />
    <br>
    <h4>This site is intended for basketball players who are looking for a place to play some pick up basketball.
    </h4>
    <h4>Feel free to add your own places to hoop.</h4>
    <br />
    <br><br>
    <%= link_to 'Find local spots near you', places_path, :class => 'btn btn-primary btn-lg' %>
    <br />
    <br />


  </div>








  </body>
</html>
