<!DOCTYPE html>
<html lang="en">
  <head>


    <title>Hoop Spots</title>



  </head>
  <body>

      <div class="jumbotron">
        <h1>Welcome to Hoop Spots! </h1>
        <br>
        <p>This site is intended for basketball players who are looking for a place to play some pick up basketball. Feel free to add
        your own places to hoop.
        </p>

        <p>
          <%= link_to 'Find local spots near you', places_path, :class => 'btn btn-primary btn-lg' %>
        </p>
        <br>


      </div>

      <img src="https://images.unsplash.com/photo-1474224017046-182ece80b263?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&s=74b77013c31e8e67eaf6d73a2153892c" alt="basketball court" />








  </body>
</html>
