<br>
<h1 class=text-center>Basketball Pickup Game Etiquette</h1>
<br>
<div class="frosty col-xs-10 col-xs-offset-1  style-box">
  <br>
  <ul>

    <li>When you step on the court, find someone and ask who has next. If they do, ask them if you can "run" with them. If they size you up and reject your offer, you have two options now. Either punch them in the face or be really sad that you don't look athletic.</li>
    <br>
    <li>Always be alert of what is happening in the game while you are waiting to play. If you or your ball interfere with play, you will feel really bad.</li>
    <br>
    <li>You should only call a foul when someone has fouled you. Do not call a foul on a play regarding other people. If you want to see why this is important, go to a local LA fitness. There will be the stupid people arguing because everyone thinks they are a ref.</li>
    <br>
    <li>If someone sets a moving screen on you, make sure you get them back at some point, unless they have 25 pounds on you.</li>
    <br>
    <li>If you shoot an airball, look really confused and rub your hands. Make it appear as if it slipped or you had something on your hands.</li>
    <br>
    <li>If you were wide open for two plays in a row, but were not passed to, you have the right to walk slowly and not play defense.</li>
    <br>
    <li>If someone says "ball don't lie" and tells you to shoot for it, play the numbers game. None of you scrubs can shoot the 3-ball at 50%. Defer the option to him to shoot for it.</li>
    <br>
    <li>If you make a stupid play, scream "My bad!". It will get you off the hook (only the first time though).</li>
  </ul>
</div>
