<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Basketball Spots</title>


  </head>
  <body>
    <h1>B-ball Spots</h1>
    <br>
    <% @places.each do |place| %>
      Name: <%= place.name %>
      <br>
      Address: <i><%= place.address %></i>
      <br>
      description: <%= place.description %>
      <br><br>
    <% end %>

  </body>
</html>
